
@keyframes snipper {
    0% {
    box-shadow: 0 0 0 0 rgba(246, 247, 248, 0.4);
}
    100% {
        box-shadow: 0 0 0 35px rgba(236, 235, 236, 0.01);
    }
}

// Button style Start
.rb_btn_wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
    @include sm {
        flex-direction: column;
    }
    &.style_1 {
        width: 100%;
        margin-top: 0;
        margin-bottom: 7px;
        flex-direction: row;
    }
}

.rb_ava_certified {
    .rb_btn_wrapper{
        @include xl{
            gap: 12px;
        }
    }
}
.rb_btn {
    display: flex;
    padding: 16px 36px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid transparent;
    background: #FFC857;
    color: #0B2545;
    font-family: $font7;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    @include transition(0.4s);

    @include xl {
        padding: 12px 32px;
        font-size: 14px;
    }
    &:hover {
        border: 1px solid #F7F7F7;
        background: #0B2545;
        color: $white;
        @include transition(0.4s);
    }
    &.fix_font {
        @include xs {
            padding: 12px 32px;
            font-size: 14px;
        }
    }
    &.style_1 {
        color: #F7F7F7;
        border: 1px solid #F7F7F7;
        background: inherit;
        &:hover {
            border: 1px solid transparent;
            background: #FFC857;
            color: #0B2545;
            @include transition(0.4s);
        }
    }
    &.style_2 {
        border-radius: 12px;
        border: 1px solid rgba(11, 37, 69, 0.15);
        background: #F7F7F7;
    }
}
// Button style End

/*---Hero Two Section Start---*/
.rb_hero_two{
    position: relative;
    overflow: hidden;
    background: #0B2545;
    min-height: 100vh;
    .rb_shape {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(17%, -50%);
        width: 1324px;
        height: 1324px;
        flex-shrink: 0;
        border-radius: 1324px;
        opacity: 0.06;
        background: #FFF;
        @include xl {
            display: none;
        }
    }
    .hero_wrapper{
        margin-top: 210px;
        height: 794px;
        position: relative;
        @include xl {
            margin-top: 180px;
            height: 750px;
        }
        @include lg {
            height: auto;
            margin-top: 160px;
            margin-bottom: 90px;
        }

        @include xxs{
            margin-top: 127px;
            margin-bottom: 54px;
        }
        .rb_content {
            margin-top: 25px;
            margin-right: 17px;
            display: flex;
            padding: 20px 24px;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;
            border-radius: 12px;
            background: #17304E;

            @include xl{
                margin-right: 4px;
            }
            @include sm {
                padding: 16px;
                height: auto;
            }

            @include xxs{
                margin-top: 18px;
                margin-right: 0;

            }
            .rb_listing {
                ul {
                    li {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        color: #F7F7F7;
                        opacity: 0.8;
                        font-family: $font-inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px; /* 175% */
                        letter-spacing: -0.16px;
                        @include xs {
                            font-size: 14px;
                        }  
                        
                        @include xxs{
                            gap: 9px;
                            line-height: 20px;
                        }
                        &:not(:last-child) {
                            padding-bottom: 12px;
                            @include xs {
                                padding-bottom: 13px;
                            }
                        }
                        .br {
                            width: 520px;
                            height: 1px;
                            background: rgba(255, 255, 255, 0.05);
                        }

                        span{
                            @include xxs{
                                align-self: flex-start;
                            }
                        }
                        img{
                            @include xxs{
                                width: 20px;
                            }
                        }
                    }
                }
            }
        }
        .rb_desc.style_1 {
            max-width: 465px;
            color: #F7F7F7;
            opacity: 0.8;

            @include xxs{
                margin-top: 23px !important;
            }
        }
    }
    .hero_thumb{
        img {
            width: 712px;
            height: 504px;
            flex-shrink: 0;
            aspect-ratio: 89/63;
            @include xl {
                width: 100%;
            }
            @include xl {
                height: auto;
            }
        }
    }
    .rb_btn_wrapper {
        margin-top: 27px;

        @include xxs{
            margin-top: 19px !important;
        }
        .rb_btn {
            border: 1px solid #F7F7F733;
            background-color: #17304E;
            font-weight: 500;
            @include xl {
                padding: 12px 21px;
                font-size: 14px;
            }
            @include xs {
                padding: 12px 32px;
            }

            @include sm{
                width: 218px;
            }

            @include xs{
                width: 238px;
                padding: 12px 16px;
            }

            &:hover{
                background-color: #FFC857;
                color: #0B2545;
                font-weight: 600;
            }

            &.active{
                background-color: #FFC857;
                color: #0B2545;
                font-weight: 600;

                &:hover{
                    background-color: #C2922E;
                }
            }
        }
    }
}
/*---Hero Two Section End---*/

// Problem Section Start
.rb_problem {
    
    @include xxs{
        margin-top: 60px !important;
    }

    .header_area_2 .rb_desc{
        @include xxs{
            margin-top: 8px;
        }

        &.mt-2{
            margin-top: 8px !important;
        }
    }
    .header_area_2 .heading h2 {
        br{
            @include xxs{
                display: none;
            }
        }
    }


    
    .rb_thumb {
        border-radius: 16px;
        overflow: hidden;
        max-width: 775px;

        @include xxl{
            max-width: 715px;
        }

        @include xl{
            max-width: 615px;
        }

        @include lg{
            max-width: 100%;
            margin-bottom: 25px;
        }

        @include xxs{
            margin-bottom: 16px;
        }
        img {
            display: block;
            width: 100%;
            height: 470px;
            object-fit: cover;
            border-radius: 16px;
            @include xxl {
                height: 402px;
            }

            @include lg {
                height: auto;
            }

            @include xxs{
                height: 255px;
            }
        }
    }

}
// Problem Section End

// Curriculumn Section Start
.rb_curriculum {
    position: relative;

    .header_area_2 .sub_heading.style_1 h4{
        backdrop-filter: blur(20px);      
        color: #3F444B;
        
    }

    .heading{

        @include xl {
            margin-top: 10px;
        }

        @include xxs{
            margin-top: 12px !important;
        }
        h2 {
            img{
                margin-top: -15px;
                margin-right: 7px;

                @include xl{
                    margin-top: -6px;
                    margin-right: 5px;
                    max-width: 32px;
                }
                @include xxs{
                    margin-top: -8px;
                    margin-right: 4px;
                    max-width: 28px;
                }
            }
        }
    }

    .curriculumn-wrapper{
        margin-top: 30px;
        display: flex;
        gap: 24px;
        @include lg {
            flex-direction: column;
        }

        @include xxs{
            margin-top: 20px;
            gap: 20px;
        }
        .left-content{
            flex: 1 0 0;
        }
        .right-thumb{
           @include xl{
             flex: 1 0 0;
           }
        }
    }

    .rb_shape {
        position: absolute;
        z-index: -1;
        top: -39%;
        left: 40.5%;

        @include xl{
            top: -49%;
            left: 32.5%;
        }
        @include lg {
            display: none;
        }

        @include xxs{
            display: block;
            top: -14%;
            left: 28%;
            transform: rotate(107deg);
        }

        img{
           @include xxs{
             object-fit: cover;
             width: 230px;
           }
        }
        
    }
    .rb_content {
        display: flex;
        padding: 28px;
        height: 344px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 24px; 
        border-radius: 16px;
        border: 1px solid #E7E8E9;
        background: #FFF;
        @include sm {
            padding: 16px;
            height: auto;
        }

        @include xxs{
            padding: 14px 15px;
            gap: 20px;
        }
        .rb_listing {
            ul {
                li {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    color: #3F444B;
                    font-family: $font7;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px; /* 175% */
                    letter-spacing: -0.16px;
                    @include xs {
                        font-size: 14px;
                    } 
                    
                    @include xxs{
                        align-items: flex-start;
                    }
                    &:not(:last-child) {
                        padding-bottom: 16px;
                        @include xs {
                            padding-bottom: 13px;
                        }

                        @include xxs{
                            padding-bottom: 10px;
                        }
                    }


                }
            }
        }
        .rb_view_btn {
            display: flex;
            padding: 16px 36px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 8px;
            background: #FFC857;
            color: #0B2545;
            font-family: $font7;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px; 
            @include xl {
                padding: 12px 32px;
                font-size: 14px;
            }

            @include xxs{
                font-size: 16px;
            }
            &:hover {
                background: #C2922E;
               
            }
        }
    }
    .rb_thumb {
        border-radius: 16px;
        overflow: hidden;

        @include xxs{
            margin-right: 4px;
        }
        img {
            display: block;
            width: 100%;
            height: 344px;
            object-fit: cover;
            border-radius: 16px;
            @include lg {
                height: auto;
            }

            @include xxs{
                height: 256px;
            }
        }
    }
}
// Curriculumn Section End

// Step Card Start
.rb_step_card {
    position: relative;
    background: #0B2545;
    overflow: hidden;

    .container{
        position: relative;
        z-index: 2;
    }

    @include xxs{
        margin-top: 61px !important;
        padding-bottom: 60px !important;
        padding-top: 60px !important;
    }

    .header_area_2 .heading{
        @include xxs{
            margin-top: 12px !important;
        }
    }

    .header_area_2 .sub_heading h4{
        @include xxs{
            padding-right: 16px;
        }
    }

    .row.mt-10{
        @include xxs{
            margin-top: 0px !important;
           
        }
    }

    .rb_shape1, .rb_shape2, .rb_shape3, .rb_shape4{
       position: absolute;
       height: 521px;
       width: 521px;
       border-radius: 50%;
       background-color: #17304E;

       @include xl{
            height: 400px;
            width: 400px;
        }

        @include lg {
            height: 300px;
            width: 300px;
        }

        @include sm{
            height: 250px;
            width: 250px;
        }
         @include xxs{
            height: 238px;
            width: 238px;
       }
    }
    .rb_shape1 {
        left: 0;
        top: -25%;
        transform: translateX(-50%);
        @include sm{
            display: none;
        }
        
    }
    .rb_shape2 {       
        right: 0;
        top: -25%;
        transform: translateX(50%);
        @include sm{
           right: 50%;
            top: -8%;
            transform: translateX(50%);
        }
    }
    .rb_shape3 {
       left: 0;
        bottom: -17%;
        transform: translateX(-50%);

        @include sm{
            display: none;
        }
             
    }
    .rb_shape4 {
        
        right: 0%;
        bottom: -17%;
        transform: translateX(50%);

        @include sm{
            right: 50%;
            bottom: -8%;
            transform: translateX(50%);
        }
            
    }
    .rb_card {
        display: flex;
        padding: 37px 31px;
        flex-direction: column;
        align-items: flex-start;
        gap: 26px;
        border-radius: 16px;
        background: #17304E;
        transition: all 0.4s;

        @include lg{
            padding: 24px;
            gap: 20px;
        }
        
        @include xxs {
            padding: 18px 17px;
            gap: 15px;
        }

        
        .rb_step {
            display: flex;
            align-items: center;
            gap: 12px;
            color: #F7F7F7;
            font-family: $font7;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 160% */
            letter-spacing: -0.4px;
            span {
                display: flex;
                width: 40px;
                height: 40px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                aspect-ratio: 1/1;
                border-radius: 35px;
                background: #FFC857;
            }
        }
        h3 {
            color: #F7F7F7;
            font-family:  $font10;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 44px; /* 137.5% */
            letter-spacing: -0.96px;

            @include xxl{
                font-size: 30px;
                line-height: 42px;
            }
            @include xl {
                br {
                    display: none;
                }
                font-size: 25px;
                line-height: 30px;
            }
            @include lg{
                font-size: 22px;
            }
            @include xs {
                font-size: 24px;
                line-height: 36px;
            }
        }
        .rb_thumb {
            border-radius: 16px;
            overflow: hidden;
            margin-top: 11px;

            @include md {
                width: 100%;
            }
            img {
                display: block;
                width: 100%;
                object-fit: cover;
                border-radius: 16px;
                transition: all 0.6s;
                @include sm {
                    height: auto;
                }

                @include xxs{
                    height: 230px;
                }
            }
        }

        &.step-2{
            .rb_thumb img{
                @include xxs{
                    height: 250px;
                }
            }
        }
        
        &:hover{
            transform: translateY(-5px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
            .rb_thumb{
                img{
                    transform: scale(1.025);
                }
            }
        }
    }

    .rb_btn{
        border: transparent;
        &:hover{
            background: #C2922E;
            color: #0B2545;
        }

        @include xxs{
            font-size: 16px;
            margin-top: 3px !important; 
        }
    }


}
// Step Card End

// Testimonial Start
.rb_testimonial {
    background: #F7F7F7;

    @include xxs{
        padding-top: 60px !important;
        padding-bottom: 56px !important;
    }
    .header_area_2 .heading h2{
        @include xxs{
            margin-top: 11px !important;
        }
        br{
           @include xxs{
              display: none;
           }
       }
    }
    .rb_card {
        display: flex !important;
        padding: 27px 32px;
        align-items: flex-start;
        justify-content: space-between;
        gap: 32px;
        border-radius: 20px;
        border: 1px solid #EFF0F0;
        background: #FFF;
        @include xl {
            flex-direction: column;
        }

        @include md {
            padding: 24px;
        }
        @include xxs {
            padding: 10px 13px;
        }
        .rb_content {
            flex: 1;
            min-height: 290px;
            display: flex;
            flex-direction: column;

            @include xl{
                min-height: 220px;
            }

            @include xxs{
                min-height: 200px;
            }

            .rb_listing {
                ul {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    padding-bottom: 24px;

                    @include xxs{
                        padding-bottom: 13px;
                    }
                }
            }
            .rb_desc {
                color: #4A4D56;
                font-family: $font7;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px; 
                letter-spacing: -0.2px;
                padding-bottom: 25px;
                flex: 1;
                @include xxs {
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.1px;
                    padding-bottom: 15px;
                }

                @include onlymd{
                    font-size: 16px;
                    line-height: 30px;
                }
            }

            .rb_profile {
                display: flex;
                align-items: center;
                gap: 16px;
                margin-top: auto;

                .rb_img img{  
                    width: 72px;
                    height: 72px;                  
                    flex-shrink: 0;
                    border-radius: 50%;
                    object-fit: cover;

                    @include xxs{
                        width: 64px;
                        height: 64px;
                    }
                }
                
                .rb_info {
                    h3 {
                        color: #000106;
                        font-family: $font8;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 36px; /* 150% */
                        letter-spacing: -0.24px;

                        @include md{
                            font-size: 22px;
                            line-height: 34px;
                        }
                        @include xxs {
                            font-size: 20px;
                            line-height: 30px;
                        }
                    }
                    p {
                        color: #4A4D56;
                        font-family: $font8;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px; /* 175% */
                        letter-spacing: -0.16px;
                    }
                }
            }
        }
        .rb_thumb {
            position: relative;
            border-radius: 16px;
            flex: 1;
            overflow: hidden;
            .rb_play_icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                a {
                    height: 64px;
                    width: 64px;
                    display: inline-block;
                    border-radius: 50%;
                    animation: snipper 2s linear infinite;
                    img{
                       object-fit: cover;
                    }
                }
                
            }
            @include xl {
                width: 100%;
            }
            img {
                display: block;
                object-fit: cover;
                border-radius: 16px;
                
                @include xl {
                    width: 100%;
                }
            }
        } 
    }
    .rb_testi_slider .slick-slide {
         margin: 0 14px; 

         @include md{
            margin: 0 7px;
         }
    }
    
}
// Testimonial End

// scholarship Section Start
.rb_scholarship {
    position: relative;
    overflow: hidden;

    @include xxs{
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    .header_area_2 {
        .rb_desc {
            max-width: 416px;
        }
    }
    .rb_shape1 {
        position: absolute;
        top: -11%;
        left: 30.5%;
        width: 455px;
        height: 455px;
        transform: rotate(-90deg);
        flex-shrink: 0;
        border-radius: 455px;
        border: 4px dashed #FFC857;
        background: rgba(255, 200, 87, 0.06);
        @include xxxl {
            display: none;
        }

        @include xxs{
            display: block;
            height: 300px;
            width: 300px;
            top: 15%;
            left: 57%;
        }
    }
    .rb_shape2 {
        position: absolute;
        bottom: -10%;
        right: 0.5%;
        width: 455px;
        height: 455px;
        transform: rotate(-90deg);
        flex-shrink: 0;
        border-radius: 455px;
        border: 4px dashed #FFC857;
        background: rgba(255, 200, 87, 0.06);
        @include xxxl {
            display: none;
        }

        @include xxs{
            display: block;
            height: 300px;
            width: 300px;
            bottom: unset;
            top: -108px;
            right: 53%;
        }
    }

    .scholarship-wrapper{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;

        @include md {
            flex-direction: column;
        }
        .scholarship-right{
            flex: 1 0 0;
        }

        .scholarship-left{
           @include md{
            align-self: flex-start;
           }

           .header_area_2 .heading{
            @include xxs{
                margin-top: 16px !important;
            }
           }

           .rb_desc{
            padding-top: 15px !important;
           }
        }
    }
    .rb_thumb {
        position: relative;
        z-index: 5;
        border-radius: 16px;
        overflow: hidden;
        max-width: 864px;
        margin-left: auto;

        @include xxl{
            max-width: 790px;
        }
        img {
            display: block;
            width: 100%;
            object-fit: cover;
            border-radius: 16px;
            @include sm {
                height: auto;
            }

            @include xxs{
                height: 235px;
            }
        }
    }

    .rb_btn{
           
            font-weight: 500;

            @include xl {
                padding: 12px 32px;
                font-size: 14px;
            }

            @include xxs{
                font-size: 16px;
                margin-top: 23px !important;
                padding: 12px 24px;
            }

            &:hover{
                background-color: #C2922E;
                color: #0B2545;
            }
    }

}
// Problem Section End

// Certified Section Start
.rb_ava_certified {
    position: relative;
    background: #0B2545;

    @include xxs{
       
        padding-top: 60px !important;
        padding-bottom: 76px !important;
    }

    .header_area_2 .heading {
        margin-top: 1px;
        h2{
            @include xxs{
                margin-top: 0px !important;
            }
        }
    }
    .header_area_2 .rb_desc.style_1{
        @include xxs{
            margin-top: 8px !important;
        }
    }
    .rb_content {
        margin-top: 20px;
        display: flex;
        padding: 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        border-radius: 12px;
        background: #17304E;

        @include xxl{
            padding: 22px;
        }
        @include sm {
            padding: 16px;
            height: auto;
        }

        @include xxs{
            padding: 23px 24px;
        }
        .rb_listing {
            width: 100%;
            ul {
                li {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    color: #F7F7F7;
                    font-family: $font7;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 36px; 
                    letter-spacing: 0;
                    border-bottom: 1px solid #FFFFFF0D;
                    padding: 22px 0;
                    
                    @include xxl {
                        padding: 12px 0;
                    }

                    @include sm{
                        font-size: 18px;
                        line-height: 30px;
                    }
                    @include xs {
                        font-size: 16px;
                    }

                    @include xxs{
                        padding: 16px 0;
                    }
                    &:first-child {
                        padding-top: 0;
                    }                    
                    &:last-child {
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                    
                    img {
                        @include xxs{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }

    }
    .rb_btn_wrapper {
        margin-top: 20px;


        .rb_btn{
            font-weight: 500;
            padding: 16px 26px;

            @include xxs{
                font-size: 16px;
            }

            &:hover{
                background-color: #FFC857;
                color: #0B2545;
            }

            &.first{
                &:hover{
                    background-color: #C2922E;
                    color: #0B2545;
                    border-color: transparent;
                }
            }
        }
       
        .rb_btn {
            
            @include xl{
                    padding: 16px 10px; 
            }
            
            @include sm {
                padding: 12px 10px;
            }
        }
        
       
        @include xxs {
            flex-direction: column;
        }
    }
    .rb_thumb {
        position: relative;
        z-index: 5;
        border-radius: 16px;
        overflow: hidden;
        margin-right: 10px;
        margin-top: 10px;

        @include xxs{
            margin-right: 0;
            margin-top: 0;
        }
        img {
            display: block;
            width: 100%;
            height: 554px;
            object-fit: cover;
            border-radius: 16px;
            @include xxl {
                height: auto;
            }

            @include xxs{
                height: 256px;
            }
        }
    }

}
// Certified Section End

/*---Brand Slider Start---*/
.berlin_slider {
    .slick-slide {
        margin: 4px 2px; 
    }
    .scroll-container {
        position: relative;
        z-index: 7;
        width: 100%;
        overflow: hidden; 
        white-space: nowrap; 
        background: #F7F7F7;
    }
    .nav-item {
        white-space: nowrap;
        text-align: center;
        @include flex(row, center, center);
        .icon {
            display: flex;
            padding: 48px 100px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 32px;
            background: #FFF;
            @include xl {
                padding: 48px 78px;
            }
            @include lg {
                padding: 48px 61px;
            }
            @include sm {
                display: flex;
                padding: 26px 53px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 32px;
            }
            @include xxs {
                padding: 26px 34px;
            }
            img{
                display: inline;
                transition: all 0.3s;

                @include xxs{
                    max-width: 96px;
                }
            }

            &:hover{
                img{
                    filter: invert(1);
                }
            }
        }
        &.style_1 {
            font-weight: 700;
            font-size: 45px;
            color: $white;
            @include nesthubmax{
                font-size: 40px;
            }
            @include nesthub{
                font-size: 30px;
            }
            @include md{
                font-size: 30px;
            }
            @include sm{
                font-size: 15px;
            }
        }
        &.style_2 {
            font-weight: 700;
            font-size: 45px;
            @include nesthubmax{
                font-size: 40px;
            }
            @include nesthub{
                font-size: 30px;
            }
            @include md{
                font-size: 30px;
            }
            @include sm{
                font-size: 15px;
            }
            color: transparent;
            -webkit-text-stroke: 1px white; 
            letter-spacing: 2px

        }
        transition: background-color 0.3s ease;
    }

    /* Keyframes for the scrolling animation */
    @keyframes scroll-left {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%); 
        }
    }
}
/*---Brand Slider End---*/

/*--- Footer Two Start---*/
.footer_two {
    position: relative;
    overflow: hidden;
    background: #F7F7F7;
    @include flex(column, end, center);
    
    .footer_shape {
        position: absolute;
        width: 972px;
        height: 971px;
        transform: rotate(-90deg);
        flex-shrink: 0;
        border-radius: 972px;
        border: 2px dashed #FFC857;
        background: rgba(255, 200, 87, 0.06);
        @include lg {
            width: 892px;
            height: 892px;
        }
        @include md {
            width: 792px;
            height: 792px;
        }
        @include xs{
            width: 588px;
         height: 588px;
        }
        
        @include xxs {
            width: 512px;
            height: 558px;
            top: -41%;
        }
    }
    .footer_area_widget{
        position: relative;
        z-index: 9;
        padding-top: 116px;  

        @include lg{
            padding-top: 90px;
        }
        @include md{
            padding-top: 60px;
        }
    }

    .footer_area_quick_menu{
        @include flex(row, space-between, flex-start);
        flex-wrap: wrap;
        @include sm{
            gap: 16px;
            padding-bottom: 14px !important;
        }
        @include md{
            gap: 40px 0px;
        }
        @include nesthub{
            gap: 40px 0px;
        }
            .footer_logo {
                display: flex;
                align-items: center;
                justify-content: center;
            a {
                cursor: pointer !important;
                margin-bottom: 20px;

                @include xxs{
                    margin-bottom: 15px;
                }
                img{
                width: fit-content;
                height: 100%;
                object-fit: contain;
                z-index: 100;
                cursor: pointer;
                    @include xxs {
                        width: 175px;
                         height: 110px;
                    }
                }
            }
        }
        .describtion {
            margin-bottom: 15px;
            p{
                color: #4A4D56;
                text-align: center;
                font-family: $font7;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; /* 175% */
                letter-spacing: -0.16px;
                @include sm {
                    font-size: 14px !important;
                    line-height: 22px;
                }
                @include xs {
                    max-width: 330px;
                    margin: auto;
                    br {
                        display: none;
                    }
                }
            }
        }
        
        .quicklink {
            height: 100%;
            .header-wrap{
                @include flex(row, center, center);
                @include md{
                    justify-content: center;
                }
                @include sm{
                    justify-content: center;
                }
                .main-menu {
                    border-radius: 12px;
                    padding: 8px 24px;
                    background: #FFF;
                    margin-top: 10px;
                    @include lg {
                        padding: 18px 24px;
                    }
                    @include md {
                        padding: 12px 17px;
                    }
                    @include xs {
                        padding: 12px 11px;
                    }

                    @include xxs{
                        padding: 12px 20px;
                        margin-top: 1px;
                    }
                    ul {
                        @include xxs {
                            flex-direction: column;
                            display: flex;
                        }
                    }
                }
            }
        ul{
            margin: 0px;
            @include nesthubmax{
                @include flex(row, flex-end, center);
                flex-wrap: wrap;
                gap: 10px !important;
            }
            @include nesthub{
                @include flex(row, flex-end, center);
                flex-wrap: wrap;
            }
            padding: 0px;
            gap: 10px;
            margin-top: 2px;
            li{
                a{
                    color: #4A4D56;
                    font-family: $font7;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px; /* 175% */
                    letter-spacing: -0.16px;
                    padding: 10px 10px;
                    @include transition(0.4s);

                    @include nesthubmax{
                        line-height: 10px;
                    }
                    @include nesthub{
                        line-height: 0px;
                    }
                    @include md{
                        line-height: 10px;
                    }
                }
                &:hover a{
                    color: $primary;
                }
                &.menu-item-has-children{
                    &::after{
                        color: #4A4D56 !important;
                        @include sm{
                            font-size: 10px;
                            right: 6px;

                        }
                    }
                    &:hover{
                        &::after{
                            color: $primary !important;
                        }

                    }
                    a{
                        padding-right: 22px;
                    }
                    ul{
                        gap: 0;
                        margin-left: 15px;
                        margin-top: 5px;
                        li{
                            min-width: 100%;
                            a{
                                color: $gray9;
                                padding: 12px 10px;
                                &:hover{
                                    color: $white !important;
                                }
                            }
                        }
                    }
                }
                
            }
        }
        
            h3{
                
                font-weight: 600;
                font-size: 20px;
                letter-spacing: -0.02em;
                color: $white;
                text-align: left;
                
            }
            p{
                
                font-weight: 500;
                font-size: 16px;
                @include sm{
                    font-size: 10px;
                }
                // line-height: 275%;
                margin-top: 21px;
                color: $gray9;
            }
            form{
                border: 1px solid #ffffff24;
                margin-top: 25px;
                @include flex(row, space-between, center);
                width: 100%;
                height: 50px;
                input{
                    width: 65%;
                    padding: 20px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: $white;
                    &::placeholder{
                    color: $white;
                    font-weight:100;
                    }
                    
            }
            button{
                width: 124px;
                height: 40px;
                background-color: $primary;
                text-align: center;
                line-height: 40px;
                border: none;
                color: $white;
                margin-right: 5px;
                
                font-weight: 500;
                font-size: 15px;
                &:hover{
                    background-color: #5d85e1;
                }
            }
            }
            .social_media ul{
            margin: 0px;
            margin-top: 39px;
            padding: 0px;
            @include flex(row, flex-start, center);
            gap: 10px;
            li{
                a{
                    width: fit-content;
                    @include border-radius(50%);
                    width:40px;
                    height: 40px;
                    border: 1px solid #ffffff24;
                    color: $white;
                    display: block;
                    text-align: center;
                    line-height: 40px;
                    @include transition(0.4s);
                    &:hover{
                        background-color: $primary;
                        border: 1px solid transparent;
                        color: $white;
                    }
                }
                    }

                    
        }
        }
        
        
    }

    .footer_last{
        margin-bottom: 32px;
        padding: 32px 24px 30px 24px;
        border-radius: 12px;
        background: #FFF;
        @include flex(row, space-between, center);
        flex-wrap: nowrap;
        width: 100%;
        @include md {
            margin-bottom: 23px;
            padding: 20px 15px 24px 15px;
        }

        @include sm {
            flex-direction: column;
            gap: 15px;
            align-items: center;
        }
        @include xs {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 15px;
            padding: 20px 12px 12px 12px;
        }
        
        p{
            color: #4A4D56;
            font-family: $font7;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 175% */
            letter-spacing: -0.16px;
            @include sm{
                font-size: 14px;
                line-height: 22px
            }
        }
        .footer_last_menu{

            ul{
                @include flex(row, flex-end, flex-end);
                margin: 0px;
                gap: 30px;
                @include sm{
                    gap: 10px;
                }
                li{
                    &:nth-child(3){
                        @include sm{
                            display: none;
                        }
                    }
                    a{
                        color: #4A4D56;                            
                        font-family: $font7;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px; /* 175% */
                        letter-spacing: -0.16px;
                        @include transition(0.4s);
                        @include sm{
                            font-size: 14px;
                            line-height: 22px
                        }
                        &:hover{
                            color: $primary !important;
                        }
                    }
                }
            }
        }
    }

    .social_area {
        display: flex;
        justify-content: center;

        @include xxs{
            margin-top: 24px !important;
        }
        ul{
            @include flex(row, flex-start, center);
            gap: 12px;
            @include md{
                margin-top: 30px;
            }
            @include sm{
                margin-top: 20px;
            }
            li{
                a{
                    display: inline-block;
                    width:40px;
                    height: 40px;
                    line-height: 40px !important;
                    padding: 0 !important;
                    @include border-radius(50%);
                    text-align: center;
                    color:  $primary;
                    @include transition(0.4s);
                    background: #FFF;

                    &:hover{
                        color: $white !important;
                        background: #4A4D56;
                    }
                }
            }
        }
    }
}
/*--- Footer Two End---*/

.modal{
    .rb_btn{
       @include xxs{
         padding: 15px 30px ;
       }

       &.style_2{
        &:hover{
            color: black;
            border-color: #FFC857;
        }
       }
    }
}

.rb_testimonial {
    .slider-controller{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
         border-radius: 100px;
        border: 1px solid rgba(11, 37, 69, 0.10);
        background: #FFF;
        padding: 12px;
        width: fit-content;
        margin: auto;
        margin-top: 36px;

        @include xxs{
            margin-top: 28px;
        }
    
        .left-arrow, .right-arrow{
            position: static;
            height: 48px;
            width: 48px;
            border-radius: 50%;
            border: 1px solid rgba(74, 77, 86, 0.10);
            background-color: white;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s;
            color: black;

            &:focus{
                 background: #FFC857;

            }
    
        }
         .slick-dots{
            display: flex;
            align-items: center;
            justify-content: center;
        
            li{
                height: 100%;
                @include flex(row, center, center);
                margin: 0px 10px;
                
                button{
                    color: rgba(74, 77, 86, 0.70);
                    font-family: $font7;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; 
                    letter-spacing: -0.32px;
                    text-transform: capitalize;
                    border: none;
                    background-color: $white;
                    @include transition(0.5s);
                    @include border-radius(30px);
                }
                &.slick-active{
                    button{
                        position: relative;
                        color: #0B2545;
                    }
                }       
            }

        }
    }

}
